%header
  %h1 All Comments

%table.table.table-striped.table-responsive
  %thead
    %tr
      %th Author
      %th Body
      %th Created
      %th Event

  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.author.full_name
        %td=truncate comment.body, length: 30
        %td= format_time comment.created_at
        %td= link_to comment.event.title, event_path(comment.event)

