%header
  %h2= "Edit #{resource_name.to_s.humanize}"

.row
  .col-sm-6.col-sm-offset-3
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f|
      .form-inputs
        = f.input :first_name, autofocus: true, placeholder: "Enter yout first name"
        = f.input :last_name, placeholder: "Enter your last name"
        = f.input :username, required: true,placeholder: "Enter your username"
        = f.input :organization_name, required: true, placeholder: "Enter the name of your organization"
        = f.input :email, required: true, placeholder: "Enter your email"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p Currently waiting confirmation  for #{resource.unconfirmed_email}
        = f.input :password, autocomple: "off", hint: "leave it blank if you don't want to change it",
        required: false
        = f.input :password_confirmation, required: false
        = f.input :current_password, hint: "We need your current password to confirm your changes",
        required: true
      .form-actions
        = f.button :submit, "Submit", class: "btn btn-primary"
      %h3 Cancel my account

      %p
        Unhappy?
        = link_to "Cancel my account", registration_path(resource_name),
        data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger"
      %p
        = link_to "Back", :back
