
%header
  %h2 Sign Up

.row
  .col-sm-6.col-sm-offset-3
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f|
      .form-inputs
        = f.input :first_name, autofocus: true, placeholder: "Enter yout first name"
        = f.input :last_name, placeholder: "Enter your last name"
        = f.input :username, required: true,placeholder: "Enter your username"
        = f.input :organization_name, required: true, placeholder: "Enter the name of your organization"

        = f.input :email, required: true, placeholder: "Enter your email"

        = f.input :password, required: true, hint: ("#{@minimum_password_length} charactes minimum" if @minimum_password_length),
        placeholder: "Enter your password"
        = f.input :password_confirmation, required: true, placeholder: "Confrim your password"
      .form-actions
        = f.button :submit, "Sign Uo", class: "btn btn-primary"
    = render 'devise/shared/links'
