.panel.panel-default
  .comment.comment-fix.panel-heading
    =simple_format(comment.body)

    %footer.row.panel-body
      .col-md-4
        = time_ago_in_words(comment.created_at).concat(" ago")
      .col-md-4.pull-right
        = "Posted by #{comment.author.username}"