%header
  %h3 Add your comment
  = simple_form_for([event, comment], remote: true, html: { class: "form-horizontal", role: "form"}) do |f|
    = f.input :body
    = f.submit class: "btn btn-primary", autofocus: true