%header
  %h1 All Attendances

%table.table.table-striped.table-responsive
  %thead
    %tr
      %th Attendee
      %th Event
      %th Seats left


  %tbody
    - @attendances.each do |attendance|
      %tr
        %td= attendance.attendee.full_name
        %td= link_to attendance.attended_event.title, event_path(attendance.attended_event)
        %td=  attendance.attended_event.seats_left || "0"
