%header
  %h1
    = @user.username
    's Hosted Events
  %p
    = @user.username
    works at
    %strong= @user.organization_name
  %ul.actions
    %li= link_to "Start Event", new_event_path, class: "new" if policy(Event).new?
/ This is for organized events
- if @user.organized_events.any?
  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Start Date
        %th End Date
        %th Capacity

        %th Event Status
        %th{:colspan => "3"}
    %tbody
      - @user.organized_events.reverse.each do |event|
        %tr
          %td= link_to event.title, event_path(event)
          %td= format_time(event.start_date)
          %td= format_time(event.end_date)
          -#%td= event_status(event)
          %td= event.seats
          %td
            = link_to "Edit", edit_event_path(event), class: "edit" if policy(event).edit?
            = link_to "Delete", event_path(event), method: :delete, data: {confirm: "Are you sure?"}, class: "delete" if policy(event).destroy?
- else
  %p
    = @user.organization_name
    has no events yet
/ This is for attended events or events to attend
%header
  %h1
    = @user.first_name
    's Registered Events
- if @user.attended_events.any?
  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Start Date
        %th End Date
        %th Seats Left

        %th Event Status
        %th{:colspan => "3"}
    %tbody
      - @user.attended_events.reverse.each do |event|
        %tr
          %td= link_to event.title, event_path(event)
          %td= format_time(event.start_date)
          %td= format_time(event.end_date)
          -#%td= event_status(event)
          %td= event.seats_left
          %td
            = link_to "Edit", edit_event_path(event), class: "edit" if policy(event).edit?
            = link_to "Delete", event_path(event), method: :delete, data: {confirm: "Are you sure?"}, class: "delete" if policy(event).destroy?
- else
  %p
    = @user.organization_name
    has no events yet