.jumbotron.text-center
  %h1
    Events promotion start with
    %br/
    %span.eventsboard EventsBoard

  %h4
    Professional, conferences, workshops, training events, seminars,
    private events,music & concerts, fund raising & donations, free events & and more.

  %h4
    =succeed " " do
      =link_to "Start Your Event", new_event_path, class:  "new start-event"

    = link_to "Discover Events", events_path, class:  "edit discover-event"

%h2.text-center.tag-line
  Organizing and promoting events can be very demanding. We help you make it easy  with less stress
