.row
  .col-sm-8.col-sm-offser-2


    = simple_form_for(@event) do |f|

      = f.input :title


      = f.input :description


      = f.input :start_date,as: :datetime, start_year: Date.today.year, ampm: true,order: [:day, :month, :year]

      = f.input :end_date,as: :datetime, start_year: Date.today.year, ampm: true,order: [:day, :month, :year]

      = f.input :venue

      = f.input :location
      = f.input :category_id, collection: Category.all, label: "Select Category", prompt: true
      = f.input :seats, label: "Capacity", hint: "The number of attendees  to the event"
      = f.input :tag_list, label: "Tags", hint: "Please enter comma separated words only"
      = f.input :image, as: :file, label: "Upload Event Image"

      = f.submit class: "btn btn-primary"

      %p= link_to "Back", events_path