%header
  %h1 All events

  %ul.actions
    %li= link_to "New Event", new_event_path, class: 'new' if policy(Event).new?

.row
  .col-sm-3.pull-right
    .sidebar
      %h3.discover Discover
      %ul.nav.nav-pills.nav-stacked
        %li{:class => "#{active? events_path}"}
          = link_to "All EVENTS", events_path
        - @categories.each do |cat|
          %li{:class => "#{active_category?(cat)} text-uppercase"}= link_to cat.name, category_path(cat)

  .search
    .col-sm-9
      %h4 Discover and register to aatend your favourite events right here
      = form_tag events_path, class: "form-horizontal", method: :get do

        .form-group.form-group-lg
          .col-sm-10
            = text_field_tag :query, params[:query], placeholder: "search events here", autofocus: true, class: "form-control"
          .col-sm-2
            = submit_tag "Find", class: "btn btn-default btn-lg"
            - if params[:query]
              = link_to "Clear", events_path

  - @events.each do |event|
    .col-sm-9.pull-left
      = link_to  event do
        .events
          .row
            .col-sm-3
              = image_tag image_present(event, height: 400, width: 200), class: "event-image"

            .col-sm-9
              %h3.event-title= event.title
              %p
                %span.event-venue= event.venue.concat("-")
                %strong= event.location
              %p.lead-time
                %span.event-start= format_time event.start_date
                %span.pull-right Organized by #{event.organizer.username}

              %p.index-icons
                %span= fa_icon "comments"
                %span= fa_icon "thumbs-o-up"
                = event.likes_total
                %span= fa_icon "thumbs-o-down"
                = event.dislikes_total




.text-center
  = will_paginate @events

