- provide :title, @event.title
%header
  %h1= @event.title
  %ul.actions
    %li= link_to "Edit Event", edit_event_path(@event), class: "edit" if policy(@event).edit?
    %li=link_to "Delete Event", @event, method: :delete, data: { confirm: "Are you sure?"},
    class: "delete" if policy(@event).destroy?
    - unless @event.seats_left?
      %li= link_to  "Register", event_attendances_path(@event), method: :post, class: "new"
    - else
      %li.label.label-danger.text-uppercase No Seats Available

.row
  .col-sm-9
    = image_tag image_present(@event, height: 1080, width: 500), class: "event-image center-block"
    .event-meta
      %h
        %span.event-start
          %strong Starts
          = format_time @event.start_date
      %p
        %span.event-end
          %strong= format_time @event.end_date

    .event-details
      %h3 Event Details
      %p= @event.description

    %header
      %h3 Comments

    #comments
      - if @event.comments.any?
        .text-center
          = will_paginate @comments
        = render @comments

      - else
        %p There are no comments

    = render "comments/comment_form", event: @event, comment: @comment if policy(@comment).create?

  .col-sm-3
    .sidebar
      %h4.organizer= link_to @event.organizer.username, user_path(@event.organizer)
      %p
        %span.event-venue= @event.venue.concat(",")
        %strong= @event.location
    %hr

    .sidebar
      %h4.tags
        - if @event.tags.any?
          = render @event.tags,event: @event
    %hr
    .sidebar
      %h4.attendees
        Attendees
        %span.pull-right=@event.attendees.count
        .clearfix
        %span.label.label-default.font-small.pull-right{:class => "#{hidden? @event}"}
          = succeed " Available" do
            = pluralize @event.seats_left, "Seat"
    %hr
    .sidebar
      %h4.likes Likes
      = succeed " " do
        = link_to event_likes_path(@event, like: "like"), method: :post do
          %span#like= @event.likes_total
      = precede " " do
        = link_to event_likes_path(@event, like: "dislike"), method: :post do
          %span#dislike= @event.dislikes_total