.row
  .col-sm-3.admin
    .admin-sidebar
      .user-panel
        .pull-left.image
          = image_tag   gravatar_for(current_user), width: 20, class: "img-circle"
        .pull-left.info
          %p= current_user.full_name
    %ul.admin-menu
      %li.text-uppercase.text-center.header Main Navigation
      %li
        = link_to admin_users_path do
          = fa_icon "users"
          %span Users
          %span.label.label-primary.pull-right= @users.count
      %li
        = link_to admin_categories_path do
          = fa_icon "th"
          %span Categories
          %span.label.label-info.pull-right= @categories.count
      %li
        = link_to admin_attendances_path do
          = fa_icon "user"
          %span Attendees
          %span.label.label-danger.pull-right=   @attendances.count
      %li
        = link_to events_path do
          = fa_icon "calendar"
          %span Events
          %span.label.label-warning.pull-right= @events.count
      %li
        = link_to "#" do
          = fa_icon "tag"
          %span Tags
          %span.label.label-default.pull-right tags
      %li
        = link_to admin_comments_path do
          = fa_icon "comments"
          %span Comments
          %span.label.label-primary.pull-right= @comments.count
      %li
        = link_to admin_likes_path do
          = fa_icon "heart"
          %span Likes
          %span.label.label-danger.pull-right= @likes.count
  .col-sm-9
    %header
      %h1
        Dashboard
        %small Control Panel
    %h4 Welcome to Admin Dashboard of Eventsboard