%header
  %h2 Log in

.row
  .col-sm-6.col-sm-offset-3
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f|
      .form-inputs
        = f.input :email, required: true, autofocus: true
        = f.input :password, required: true, hint: ("#{@minimum_password_length} charactes minimum" if @minimum_password_length)
        = f.input :remember_me,  as: :boolean if  devise_mapping.rememberable?
        .form-actions
        = f.button :submit, "Sign in", class: "btn btn-primary"
    = render 'devise/shared/links'
