%header
  %h1 All Likes

%table.table.table-striped.table-responsive
  %thead
    %tr
      %th User
      %th Event
      %th Type


  %tbody
    - @likes.each do |like|
      %tr
        %td= link_to like.user.full_name, user_path(like.user)
        %td= link_to like.event.title, event_path(like.event)
        %td=  like.like
