%header
  %h1 Categories
  - admins_only do
    %ul.actions
      %li= link_to "New category", new_admin_category_path, class: "new"

%table.table-responsive.table.table-striped
  %thead
    %tr
      %th Name
      %th Created
      %th Events
      %th{ :colspan => 3}

  %tbody
    - @categories.each do |cat|
      %tr
        %td= cat.name
        %td= format_time cat.created_at
        %td= 'Events'
        %td
          = link_to "View",  category_path(cat)
          = surround " | "  do
            = link_to "Edit", edit_admin_category_path(cat)
          = link_to "Delete", admin_category_path(cat),
          :method => :delete,data: {confirm: "Are you sure?"}

