@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "custom";
@import "admin/application";
@import "devise_bootstrap_views";
@import "home";

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  // background: #f2f2f2;
  padding-top: 70px;
}


a:hover {
  text-decoration: none;
}

header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0;

  &:first-child {
    margin-top: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    max-width: 55%;
  }
}

ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
  position: absolute;
  bottom: -2px;
  right: 2px;
  max-width: 45%;
  text-align: right;
}

a.new,
a.edit,
a.delete {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}


span.past {
  background: #c9302c;

}

span.upcoming {
  background: #449d44;
}

span.upcoming,
span.past {
  color: #fff;
  font-weight: bold;
  border-radius: 3px;

  &:before {
    font-family: "FontAwesome";
    padding: 1.5em;
  }
}

span.upcoming {
  &:before {
    @extend .fa-check;
  }
}

span.past {
  &:before {
    @extend .fa-close;
  }
}
a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}


span.past {
  background: #c9302c;

}

span.upcoming {
  background: #449d44;
}

span.upcoming,
span.past {
  color: #fff;
  font-weight: bold;
  border-radius: 3px;

  &:before {
    font-family: "FontAwesome";
    padding: 1.5em;
  }
}

span.upcoming {
  &:before {
    @extend .fa-check;
  }
}

span.past {
  &:before {
    @extend .fa-close;
  }
}