// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  // background: #1d4464;
  background: #d91e60;
  border-radius: 0;
}

.jumbotron > h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 50px;
  line-height: 55px;
  font-weight: 200;
  color: #fff;
  // color: #000;
  margin: 0.67em;
}

.jumbotron > h4 {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 20px;
  font-weight: 200;
  line-height: 25px;
  margin-bottom: 40px;
  color: #fff;
  // color: #000;
}

a.start-event,
a.discover-event {
  font-weight: 200;
  padding: 12px;
  font-size: 22px;
  border: 4px solid #fff;
  border-radius: 3px;
}

span.eventsboard {
  // color: #d91e60;
  font-weight: bold;
}

h2.tag-line {
  color: #1d4464;
  // color: #d91e60;
  // border-bottom: 1px solid #000;
}
