%header
  %h1 Users

%table.table.table-striped.table-responsive
  %thead
    %tr
      %th User Id
      %th Avatar
      %th Username
      %th Email
      %th Joinded
      %th Events

  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= "Avatart"
        %td= user.username
        %td= user.email
        %td= format_time user.created_at
        %td= link_to user.organized_events.count,  user_path(user)

= link_to "Back to admin dashboard", admin_root_path
