%nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Events Board", root_path, class: "navbar-brand"
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{:class => "#{active? "/"}"}
          = link_to "Home", root_path
          %span.sr-only (current)
        %li{:class => "#{active? "/events"}"}
          = link_to "Events", events_path
        - admins_only do
          %li{:class => "#{active? admin_root_path}"}
            =link_to "Admin", admin_root_path
        - unless user_signed_in?
          %li{:class => "#{active? new_user_registration_path}"}
            = link_to "Sign up",  new_user_registration_path
          %li{:class => "#{active? new_user_session_path}"}
            = link_to "Sign in",  new_user_session_path



        = form_tag events_path, class: "navbar-form navbar-left", method: :get do
          .form-group
            = text_field_tag :query, params[:query], placeholder: "search events here",  class: "form-control"
            = submit_tag "Find", class: "btn btn-default"
            - if params[:query]
              = link_to "Clear", events_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li{:class => "#{active? edit_user_registration_path}"}
            = link_to  edit_user_registration_path do
              = image_tag gravatar_for(current_user), :width => 20, :class => "img-circle"
              = current_user.username
          %li{:class => "#{active_user_id? current_user}"}
            = link_to "My Events", user_path(current_user)
          %li{:class => "#{active? destroy_user_session_path}"}
            = link_to "Log out",  destroy_user_session_path, method: :delete
