!!!
%html
  %head
    %title= full_title(yield(:title))
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


  %body
    = render "layouts/navigation"
    = bootstrap_flash
    .container
      = yield

